@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&family=Bungee+Spice&family=Ceviche+One&family=Expletus+Sans&family=Merienda:wght@400;800&display=swap");

/* font-family: 'Bungee', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee Spice', cursive;
font-family: 'Ceviche One', cursive;
font-family: 'Expletus Sans', cursive;
font-family: 'Merienda', cursive; */

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.navbar-container,
.navbar {
	background-color: antiquewhite;
	border-width: 0;
	border-radius: 0;
	position: relative;
	z-index: 1000;
}

.navbar-container,
.header-container {
	box-shadow: -5px 5px 8px #2f341a;
}

.logo-text {
	font-size: 60px;
	color: #2f341a;
}

.logo-one {
	font-family: "Bungee", cursive;
}

.logo-two {
	font-family: "Bungee Outline", cursive;
}

.logo-three {
	font-family: "Bungee Inline", cursive;
}

.logo-four {
	font-family: "Bungee Shade", cursive;
}

.logo-five {
	font-family: "Bungee Hairline", cursive;
}

.logo-six {
	font-family: "Bungee Spice", cursive;
}

.main-view-comp {
	height: 700px;
	width: 100%;
	position: relative;
}

.project {
	position: relative;
	z-index: 103;
	background-color: antiquewhite;
	box-shadow: 5px 5px 8px #2f341a;
}

.about-view {
	position: relative;
	height: 700px;
	width: 100%;
	box-shadow: 5px 5px 8px #2f341a;
	z-index: 102;
}

.about-view-header {
	position: absolute;
	top: 70px;
	right: 250px;
	z-index: 101;
}

.about-view-text-container {
	position: absolute;
	width: 325px;
	height: 250px;
	bottom: 85px;
	left: 120px;
	z-index: 101;
	background-color: #2f341a;
	opacity: 0.8;
}

.about-view-text {
	position: absolute;
	width: 315px;
	height: auto;
	z-index: 102;
	color: antiquewhite;
}
.about-view-content {
	position: relative;
	/* although it caps size of sharp image, for some reason adding position relative here is causing h1, p and button to animate along with image grow... */
	max-width: 1000px;
}

.blur {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("/public/img/wedding_photo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(8px);
	z-index: -1;
}

.contact {
	background-color: #89cfc7;
	height: 600px;
}

.contact-photo {
	max-width: 200px;
}

.section-title {
	font-size: 4em;
	color: #2f341a;
	text-shadow: 10px 10px 10px #5f6935;
}

.section-text {
	color: #2f341a;
	font-size: 1em;
	text-shadow: 3px 3px 5px #5f6935;
}

.section-second {
	font-size: 2.5em;
	color: #5f6935;
	/* text-shadow: 5px 5px 10px #2f341a; */
}

.page-text {
	text-shadow: 3px 3px 5px #fece7a;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*////////////////// PROJECT VIEW //////////////////*/
.proj-modal-btn-style {
	margin-bottom: 1em;
}

.proj-page-card {
	width: 80vw;
	height: auto;
	padding: 10px;
	border-radius: 5px;
	border: 4px solid #2f341a;
	background-color: #fece7a;
	color: #2f341a;
	text-shadow: 3px 3px 8px #5f6935;
	box-shadow: 15px 15px 8px #2f341a;
}

.proj-card {
	border-radius: 5px;
	border: 2px solid #fece7a;
	background-color: #5f6935;
	color: #fece7a;
	display: inline-grid;
	text-shadow: 3px 3px 8px #2f341a;
}

.proj-title {
	font-size: 1.5em;
	line-height: 1.75em;
}

.proj-card:hover {
	border: 3px solid #2f341a;
	box-shadow: 0px 0px 20px #fece7a;
	color: #2f341a;
	text-shadow: 5px 5px 5px #fece7a;
	font-weight: bold;
}

.proj-slider {
	background-color: #2f341a;
	border-radius: 10px;
}

/*///////////////// SLIDE STYLING //////////////*/
.slider-btn {
	background-color: #5f6935;
	color: #fece7a;
	height: 200px;
}

#slider {
	background-color: #2f341a;
}

.proj-btn-container {
	position: fixed;
	background-color: antiquewhite;
	padding: 1em;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: -5px 5px 8px #2f341a;
	z-index: 1000;
}
.proj-container,
.about-container {
	padding-top: 90px;
	background-color: #5f6935;
}
/*/////////////// BUTTON STYLING /////////////////*/

.about-btn-loc {
	position: absolute;
	bottom: 50px;
	right: 250px;
	z-index: 102;
}

.scroll-btn-position {
	position: fixed;
	bottom: 15px;
	right: 20px;
}

.scroll-btn-style {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #2f341a;
	background-color: #fece7a;
	color: #2f341a;
	cursor: pointer;
	z-index: 200;
	box-shadow: 2px 2px 5px #fece7a;
}

.scroll-btn-style:hover {
	border: 2px solid #fece7a;
	background-color: #2f341a;
	color: #fece7a;
	box-shadow: 5px 5px 8px #2f341a;
}

.link-btn {
	display: block;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	line-height: 35px;
	font-size: 18px;
	letter-spacing: 1px;
	color: #fff;
	background: #2f341a;
	border: 2px solid #fff;
	border-radius: 10px;
	text-align: center;
	position: relative;
	transition: all 0.35s;
}

.link-btn:hover {
	border: 3px solid #9fb83d;
	color: #9fb83d;
	box-shadow: -5px 5px 8px #2f341a;
}

.modal-btn-style,
.nature-btn,
.primary-btn {
	height: auto;
	width: auto;
	border-radius: 15px;
	border: 3px solid #fece7a;
	background-color: #2f341a;
	color: #fece7a;
	cursor: pointer;
	box-shadow: 5px 5px 8px #2f341a;
}

.modal-btn-style:hover,
.nature-btn:hover,
.primary-btn:hover {
	border: 3px solid #2f341a;
	background-color: #fece7a;
	color: #2f341a;
	box-shadow: -5px 5px 8px #2f341a;
}

.secondary-btn {
	height: auto;
	width: auto;
	border-radius: 15px;
	border: 3px solid #2f341a;
	background-color: #fece7a;
	color: #2f341a;
	cursor: pointer;
	box-shadow: 5px 5px 8px #2f341a;
}

.secondary-btn:hover {
	border: 3px solid #fece7a;
	background-color: #2f341a;
	color: #fece7a;
	box-shadow: -5px 5px 8px #2f341a;
}

.btn-icon {
	width: 70px;
	height: 70px;
	color: #2f341a;
}
.tele-icon {
	width: 50px;
	height: 50px;
	color: #2f341a;
}

.menu-btn-icon {
	width: 20px;
	height: 20px;
}

.modal-container {
	width: 600px;
	height: 650px;
	background-color: #5f6935;
	color: #fece7a;
	border: 3px solid #2f341a;
}

.nature-img {
	box-shadow: 5px 5px 8px #2f341a;
	border: 1px solid #2f341a;
}

.first-click-img {
	height: 20em;
	float: left;
}

.last-click-img {
	height: 20em;
	float: right;
}

.float-container {
	height: auto;
}

.nat-icon {
	height: 90px;
	width: 90px;
}

.modal-link:hover {
	text-shadow: 5px 5px 5px #fece7a;
	color: #2f341a;
}

.modal-text {
	text-shadow: 5px 5px 5px #2f341a;
}

.wedding-img {
	transition: height 1s ease-in-out 0.1s;
	z-index: 100;
}

.project-modal,
.nature-modal {
	z-index: 500;
}

.proj-modal-container {
	background-color: #dc9e3a;
	border: 3px solid #62461a;
}

.footer-container,
.header-container {
	position: relative;
	z-index: 100;
}

.img-attribute {
	position: absolute;
	bottom: 50px;
	left: 50px;
	z-index: 102;
	color: #fff;
}

.header-text {
	position: absolute;
	top: 50px;
	right: 50px;
	color: #2f341a;
	z-index: 102;
}

.marker {
	font-family: "Permanent Marker", cursive;
}

.gallery-slider {
	width: 200px;
}

.picture-gallery {
	flex-direction: column;
	flex-wrap: wrap;
}

.no-highlight {
	-webkit-tap-highlight-color: transparent;
}
