.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.main-view-comp {
	height: 100vh;
	width: 100%;
	position: relative;
}

.project {
	background-color: #f5b041;
}

.about {
	background-color: grey;
}

.contact {
	background-color: mediumturquoise;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.scroll-btn-position {
	position: fixed;
	bottom: 15px;
	right: 20px;
}

.scroll-btn-style {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px solid #000;
	background-color: #fff;
	color: #333;
	cursor: pointer;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn-style {
	margin-top: 3em;
	margin-bottom: 1em;
}

.proj-page-card {
	width: 80vw;
	height: 600px;
}

.link-btn {
	width: 160px;
	height: 40px;
	line-height: 40px;
	padding: 12 24;
	background-color: rgb(82, 211, 168);
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
}

.proj-btn-container {
	position: fixed;
	background-color: antiquewhite;
	padding: 1em;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.proj-container,
.about-container {
	padding-top: 90px;
}
